@model InfoTechCollege.Models.Module

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Module</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourseId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModuleTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModuleTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModuleDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModuleDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModuleContent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModuleContent)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
