@model IEnumerable<InfoTechCollege.Models.Module>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
    
        <h1> Modules List </h1>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleContent)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleContent)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.ModuleId })
           
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
